table, tr, td, th {
  border: 1px solid black;
  padding: 3px;
}

.flashes {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.errors {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.no_auth {
    color: black;
    font-weight: bold;
    font-size: 30px;
    display: block;
    text-align: center;
}

.event_flashes {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.headers {
    text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
  border-right:1px solid #bbb;
  background-color: #3498DB;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2980B9;
}

.active {
  background-color: #1D3C7E;
}

.log_event label {
    padding-top: 5px;
    padding-right: 35px;
    font-weight: bold;
}


.log_event input {
    margin-top: 25px;
    block: left;
}

* {
box-sizing: border-box;
}

*:focus {
outline: none;
}

body {
font-family: Arial;
background-color: #F3F3F3;
}

.login {
margin: 20px auto;
width: 300px;
}

.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
border: 2px solid transparent;
background: #3498DB;
color: #ffffff;
font-size: 16px;
font-weight: bold;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto;
}

.btn:hover {
background-color: #2980B9;
}

.login-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}

.site_btn {
border: 2px solid transparent;
background: #3498DB;
color: #ffffff;
font-size: 16px;
font-weight: bold;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
}

.site_btn:hover {
background-color: #2980B9;
}

.logout {
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}