<!DOCTYPE html>
<html lang="en">
<meta content='width=device-width, initial-scale=1' name='viewport'/>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <a class="logout" href="/logout">Logout, {{ session['user'] }}</a>
    <title>Ben's Food and bowl movement Tracker</title>
</head>
<body>
<IMG src="{{ url_for('static', filename='images/Bens-Logo.png') }}" class="center">
<hr>
<ul>
    <li><a href="/log_event">Log Event</a></li>
    <li><a class="active" href="/feeding_report">Feeding Report</a></li>
    {% if session['user'] == 'admin' %}
        <li><a href="/register">Register User</a></li>
    {% endif %}
</ul>
<hr>
<h1 class="headers">Ben's Feeding and Bowel Movement Tracker</h1>

<input id="elem" type="button" value="Generate PDF Report" class="site_btn site_btn-primary site_btn-large site_btn-block"/>

<script>
  function redirect() {
    window.location.href = '/pdf';
  }

  elem.onclick = () => alert("Creating PDF Document");
  elem.addEventListener("click", redirect); // Thanks again!
</script>
<br>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class=event_flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}

{% if results %}
<table>
    <tr>
        <th>Date</th>
        <th>Feeding Start Time</th>
        <th>Feeding End Time</th>
        <th>Time of Poop</th>
        <th>Time of Pee</th>
        <th>Total Feed Time</th>
        <th>Notes</th>
    </tr>

    {% for result in results %}
        <tr>
            <td>{{result['date']}}</td>
            <td>{{result['start_feed']|datetime }}</td>
            <td>{{result['end_feed']|datetime }}</td>
            <td>{{result['poop_time']|datetime}}</td>
            <td>{{result['pee_time']|datetime}}</td>
            <td>{% if result['end_feed'] %}
                {{ result['end_feed'] - result['start_feed'] }}
            {% endif %}</td>
            <td>{{result['notes']}}</td>

        </tr>

    {% endfor %}
</table>
{% endif %}
</body>
</html>