<meta content='width=device-width, initial-scale=1' name='viewport'/>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<IMG src="{{ url_for('static', filename='images/Bens-Logo.png') }}" class="center">

<form action="/login" method="POST">
    {{ form.hidden_tag() }}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="username" name="username">
                    <label class="login-field-icon fui-user" for="login-name"></label></div>
                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label></div>
                    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                {% for error in form.errors %}
                <p>{{error}}</p>
                {% endfor %}


            </div>
        </div>
    </div>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<p class=flashes>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</p>
{% endif %}
{% endwith %}